@page "/counter"
<div class="jumbotron" >
@* Solo existe un tipo de Pelicula*@
<div class="list-group mb-3">
    <a href=""  class="list-group-item list-group-item-action flex-column ">
        <div class="row">
            <div class="col md-3">
                <img src="@BetaLucas.MovieImage" alt="" class="img-thumbnail" height="200px" width="200px">                
            </div>
            <div class="col md 9 ">
                <h5 class="card-title text-left"><em>@BetaLucas.NameMovie</em></h5>
                <h5 class="card-title text-left"><em> <small>@BetaLucas.descriptionMovie</small></em></h5>
                <small class="text-muted">@BetaLucas.CurrentMovie</small>
            </div>

        </div>
    </a>
    </div>
</div>

@code{
    @* Creamos funcion que contiene la estructura de un objeto de la clase fish*@
    private Movie GetMovie(){

        return new Movie(){
            NameMovie="Luca",
            descriptionMovie="Ambientada en un precioso pueblo costero de la Riviera italiana, narra la historia sobre el paso a la edad adulta de un chico que vive un verano inolvidable lleno de helados, pasta e infinitos paseos en scooter",
            MovieImage="/Images/movie_7.jpg",
            CurrentMovie= new DateTime(2021,09,18)
        };
    }
    @* Propiedad tipo pelicula*@
    public Movie BetaLucas{
        get{return GetMovie();}
    }

}