<div class="jumbotron">
    <h6>Peliculas listados por categoria</h6>
    @foreach (var movie in Movies)
    {
    <div class="list-group mb-3">
            <a href=""  class="list-group-item list-group-item-action flex-column ">
                <div class="row">
                    <div class="col md-3">
                        <img src="@movie.MovieImage" alt="" class="img-thumbnail" height="200px" width="200px">                
                    </div>
                    <div class="col md 9 ">
                        <h5 class="card-title text-left"><em>@movie.NameMovie</em></h5>
                        <h5 class="card-title text-left"><em> <small>@movie.descriptionMovie</small></em></h5>
                        <small class="text-muted">@movie.CurrentMovie</small>
                    </div>

                </div>
            </a>
    </div>
    }
</div>

@code{

    [Parameter] public List<Movie> Movies{get;set;}
}