@inherits LayoutComponentBase

<div class="page">
    
    
    @if (expandSubNav)
    {
        
    }else{
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="row">
            <div class="col col-sm-12">
                
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <nav class="navbar navbar-dark bg-dark">
                    <button class="bg-dark" type="button" @onclick="()=>expandSubNav = !expandSubNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                    <a class="navbar-brand" href="">
                        HOME
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/movies/search" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Peliculas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Categorias</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/movies/search">En Cartelera</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Actors/search">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog de Peliculas</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sobre TICIGITAL
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Integrantes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Estado del Sistema</a>
                                </div>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>

        <div class="content px-4">
            @Body
            
        </div>
    </div>
</div>

@code {

    private bool expandSubNav=false;

}